.DownHeader-container{
    padding :5px 30px ;
    display:flex ;
     align-items :center ;
      justify-content :space-between;
}
.Categories-btn{
    text-align:center ;
      width :14rem ;
       padding-top :5px ;
        padding-bottom :5px ;
        padding-left :5px;
}