


.main-header-icons{
    margin-top: 30px;
    padding-inline: 23px !important;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 13px;
}
.main-card-container{
    justify-content:space-between;
}
.main-toolbar-btn{
    padding:10px 20px !important;
    border:2px solid gray  !important;
    border-radius: 5px !important;
    text-transform: capitalize !important;

}


@media (max-width : 780px){
.main-header-icons{
    justify-content: center !important;
    text-align:center !important;
    }  
.main-card-container{
    justify-content:center !important;
    gap:10px !important;
}
}
@media (max-width : 460px){
.main-product-description{
    font-size:15px !important;
}
.main-toolbar-btn{
    padding:5px 10px !important;  
    font-size:10px !important; 
}

}